appdirs==1.4.3
asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
cycler==0.10.0
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.4
django-heroku==0.3.1
filelock==3.0.12
-e git+https://github.com/Mottl/GetOldTweets3@4ede9ef03f2320b7f0a780795b0f18f3f05939bb#egg=GetOldTweets3
gunicorn==20.0.4
idna==2.9
kiwisolver==1.1.0
lxml==4.5.0
matplotlib==3.2.1
nltk==3.4.5
numpy==1.18.2
oauthlib==3.1.0
pandas==1.0.3
Pillow==7.0.0
pipenv==2018.11.26
preprocessor==1.1.3
psycopg2==2.8.5
pyparsing==2.4.6
pyquery==1.4.1
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
requests-oauthlib==1.3.0
six==1.14.0
sqlparse==0.3.1
textblob==0.15.3
tweepy==3.8.0
tweet-preprocessor==0.4.0
urllib3==1.25.8
vaderSentiment==3.2.1
virtualenv==20.0.18
virtualenv-clone==0.5.4
whitenoise==5.0.1
wordcloud==1.6.0
